
.contactUs{
    
    font-weight: normal;
    color: #000;
    text-align: start;
}

.displaynonemd {
    display: block !important;
}

.fontTitles {}
.displayblockmd{
    display: none !important;
}
.title-center-md{

}
@media screen and (max-width: 991px) {
    .displaynonemd {
        display: none !important;
    }
    .contactUs{
        display: flex;
        justify-content: center;
        text-align: center;
}
    


    .fontTitles {
        font-size: 1vh;
    }

    .displayblockmd{
        display: block !important;
    }
    .title-center-md{
        text-align: center !important;
    }
}

@media screen and (max-width: 767px) {
    .displayblockmd{
        display: none !important;
    }
}





@media screen and (max-width: 1000px) {

    .fontTitles {
        font-size: 1vh !important;
    }
}


@media screen and (max-width: 1200px) {
    .fontTitles {
        font-size: 1.4vh !important;
    }

}